
.App {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.NavBar {
  height: 10%;
}

.Nav-enlace {
  background-color: aquamarine;
  color: red;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
}
.Nav-enlace:hover {
  background-color: blue;
}
.nav {
  background-color: #fb6161;
  padding: auto;
}
.Content {
  height: 80%;
  background-color: #282c34;
  padding: 30px;
  overflow-y: scroll;
}

.FootPage{
  height: 5%;
  display: flex;
  align-items: center;
  background-color: #2e8a5c;
}

.FootPageText {
  display: flex;
  margin-left: 20px;
}

/* .logo-kujipy {
  flex: ;
} */

.App-logo {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .Galery-main {
    display: flex;
    flex-direction: row;
    color: #2e8a5c;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb6161;
}

@keyframes App-galery-slide {
  0% {z-index: 0}
  33.32% {z-index: 0}
  33.33% {z-index: -1}
}

.Description {
  background-color: rgb(59, 80, 80);
  color: rgb(31, 2, 2);
  border-radius: 10px;
  width: fit-content;
  margin: 2px;
  padding: 5px;
}

.TextDescription {
  color: rgb(209, 214, 183);
}

.HeaderStaticBar {
  height: 5%;
}
.ImageStaticBar {
  height: 100%;
}
.ImageBackground{
  background-size: contain;
  background-repeat: repeat-x;
  background-image: url("./assets/Xaam.png");
  height:100%;
  max-width:100%;
  max-height:100%;
}