.Events-container {
    display: flex;
    flex-direction: column;
}

.Events-buttons {
    width: 10%;
}

.Events-text {
    width: 90%;
}

.Events-new{
    color: aliceblue;
}

.Events-past{
    color: aliceblue;
}