.Events-container {
    display: flex;
    flex-direction: column;
}

.Events-buttons {
    width: 10%;
}

.Events-text {
    width: 90%;
}

.Events-new{
    color: rgb(141, 228, 255);
}

.Events-past{
    color: rgb(193, 189, 255);
}

.Event-title{
    color: rgb(253, 151, 151);
    font-size: x-large;
}