.img-vertical{
    width: 80%;
    height: 100%;
}

.img-horizontal{
    width: 100%;
    height: 80%;
}

.galeria-row{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.image-container{
    width: 25%;
}